body {
    background-color: #242435;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 90px 0px 50px;
    color: #cda9f8;
    /*border-bottom: 2px solid white;*/


    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

header h1 {
    font-family: monospace;
    font-size: 50px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

header nav {
    display: flex;
    gap: 30px;
    /*border: 2px solid black;*/
}

nav button {
    background-color: transparent;
    color: pink;
    font-family: monospace;
    font-size: 20px;
    border: none;
}

.header-line {
    display: flex;
    height: 2px;
    background: grey;
}

/*
#sketch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    //
    max-width: 1900px;
    width: 100%;
    //

    width: fit-content;
    margin: 20px auto;
    

    border: 5px solid blue;
}
*/

#sketch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 700px;
    margin: 20px auto;
    /*border: 5px solid #b689ee;*/
    border: 5px solid #9159d6;
}

#sketch-container .row {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /*border: 10px solid green;*/
}

#sketch-container .box {
    /*border: 2px solid #f5e0dc;*/
    /*border: 2px solid rgb(177, 65, 167);*/

    border: 1px solid #9159d6;
    background-color: #b689ee;
    /*
    border: 2px solid #b689ee;
    background-color: #cda9f8;
    */
    width: 100%;
}