body {
    background-color: #242435;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 90px 0px 50px;
    color: #cda9f8;
    /*border-bottom: 2px solid white;*/


    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

header h1 {
    font-family: monospace;
    font-size: 50px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

header nav {
    display: flex;
    gap: 30px;
    font-size: 30px;
    /*border: 2px solid black;*/
}

nav button {
    background-color: transparent;
    color: pink;
    font-family: monospace;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.header-line {
    display: flex;
    width: 100%;
    background: rgb(151, 128, 150);
    padding: 1px;
}

#sketch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 700px;
    margin: 15px auto;
    /*border: 5px solid #b689ee;*/
    border: 5px solid #9159d6;
}

#sketch-container .row {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;

    /*border: 10px solid green;*/
}

#sketch-container .box {
    /*border: 2px solid #f5e0dc;*/
    /*border: 2px solid rgb(177, 65, 167);*/

    border: 1px solid #9159d6;
    /*background-color: #b689ee;*/
    background-color: white;

    /*
    border: 2px solid #b689ee;
    background-color: #cda9f8;
    */
    width: 100%;
}

/*color-div STUFF*/
#color-div {
    /*border: 1px solid #b689ee;*/
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1900px;
    gap: 30px;
}

.color-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.color-option {
    border: 3px solid #9159d6;
    padding: 18px;
    margin: 5px;
    background-color: transparent;
}

#grid-modes {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 4px;

    font-family: monospace;
    font-size: 20px;
    margin-right: 10px;
}

#grid {
    color: lightcoral;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
}

#gridless {
    color: pink;
    box-sizing: border-box;
    cursor: pointer;
}

#current-color-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: pink;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
}

#current-color-box {
    border: 3px solid #9159d6;
    padding: 10px;
    margin: 5px;
    background-color: transparent;
    box-sizing: border-box;
}

#fill-div {
    color: pink;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*END OF color-div stuff*/